@import "../assets/variables.scss";
@import "../assets/mixins.scss";

/* File Drop Zoon */
.upload-area__drop-zoon {
  position: relative;
  height: 10rem;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed $primary-light;
  border-radius: 15px;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.upload-area__drop-zoon:hover {
  border-color: $primary-light;
}

.drop-zoon__icon {
  display: flex;
  font-size: 3.75rem;
  color: $primary-light;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
  font-size: 0.8rem;
  color: $gray;
  margin: 0;
  margin-top: 0.625rem;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
  opacity: 0.7;
}

.drop-zoon__loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: $primary-light;
  z-index: 10;
}

.drop-zoon__preview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px 0;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__preview-image {
  opacity: 0.8;
}

.drop-zoon__file-input {
  display: none;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--over {
  border-color: $primary-light;
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
  opacity: 0.7;
}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
  display: none;
}

// Style from here...

.join-as {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 60px;
  height: auto;
  min-height: 90vh !important;
  background-image: url(../assets/images/BG.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-height: 750px) {
    min-height: auto;
  }

  &__content {
    width: 70%;
    margin: 0 auto;
    background: $white;
    padding: 40px 130px;
    border-radius: 25px;
    box-shadow: 3px 3px 20px rgb(0, 0, 0, 0.08);

    @media (map-get($mat-grid-breakpoints, sm)) {
      padding: 20px;
      width: 85%;
    }
    @media (map-get($mat-grid-breakpoints, xs)) {
      width: 95%;
    }

    &__start {
      font-size: 0.7rem;
      color: $primary-light;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 800;
      color: $black;
    }

    &__text {
      color: $gray;
      font-size: 1rem;
      margin-bottom: 25px;
    }

    & .col-form-label {
      font-size: 0.8rem;
    }

    & .form-control {
      background: #f5f5f5;
      border: none;
      font-size: 0.8rem;
    }

    & .form-group {
      margin-bottom: 10px;
    }

    & .form-check-label {
      font-size: 0.8rem;
    }

    & #inputGender {
      display: flex;
      align-items: center;
    }

    &__positions {
      display: flex;
      flex-wrap: wrap;

      &--hide {
        height: 0 !important;
        visibility: hidden !important;
      }

      &__title {
        color: $gray;
        font-size: 1rem;
        flex: 1 0 100%;
        margin-bottom: 10px;
      }

      &__item {
        color: $primary-light;
        margin-inline-end: 28px;
        margin-bottom: 12px;
        font-weight: 600;
        transition: 200ms;
        cursor: pointer;

        &:hover {
          transition: 200ms;
          color: darken($primary-light, 12%);
        }
      }
    }

    &__form {
      &--hide {
        height: 0 !important;
        visibility: hidden !important;
      }

      &__submit {
        @include outline-button-with-icon($primary-light);
        font-size: 0.8rem;
        padding-block: 10px;
        width: 110px;
        float: right;
        box-shadow: none;
      }
    }
  }
}
